* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/**inicio do estilo da header**/

    body p, body h1 {
        text-shadow: 2px 2px 4px #000000;
    }

header {
    width: 100%;
    height: 130px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px 20px 30px;
    z-index: 1;
    background: linear-gradient(#1B2797 0%, #151f71 85%, transparent 100%);
}

.linkLogo {
    height: 100%;
    display: flex;
    align-items: top;
}

#logoIcon {
    height: 90%;
    filter: drop-shadow(1px 1px 3px #F50C14);
    transition: opacity 0.3s;
}

#logoIcon:hover {
    opacity: 80%;
}

/**fim do estilo da header**/

/**inicio do estilo da nav**/

.nav {
    z-index: 1;
    width: fit-content;
    position: fixed;
    top: 30px;
    right: 20px;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #151f71;
    border-radius: 15px;
    box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.nav a {
    color: #FFF;
    text-decoration: none;
    padding: 10px 15px;
    font-size: 1.1vw;
    font-family: "Bree Serif", serif;
    display: flex;
    align-items: center;
    transition: opacity 0.3s;
}

.nav a:hover {
    opacity: 80%;
}

.nav a img {
    padding-right: 8px;
    height: 1.5vw;
}

/**fim do estilo da nav**/

/**início do estilo da main**/

main {
    width: 100%;
}

.whats {
    position: fixed;
    z-index: 2;
    display: flex;
    bottom: 25px;
    right: 20px;
    border-radius: 32px;
    transition: opacity 1s;
}

.whats:hover {
    opacity: 70%;
}

.video_bloco {
    width: 100%;
    height: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.video {
    width: 40%;
    height: 50%;
    background-color: red;
}

.texto_video {
    width: 40%;
    height: 50%;
    background-color: orange;
}











#doacao {
    width: 100%;
    padding: 10vh 0;
}

.topoDoacao {
    width: 100%;
    height: 15.2vh;
    margin-bottom: -2px;
    background-image: url(/imagens/topoDoacao.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
}

.baixoDoacao {
    width: 100%;
    height: 15.2vh;
    margin-top: -2px;
    background-image: url(/imagens/baixoDoacao.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.doacao {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #151f71;
}

.doacao_imagem {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.doacao_imagem img {
    max-width: max-content;
    max-height: max-content;
    height: auto;
    width: 100%;
}

.doacao_texto {
    width: 60%;
    height: 100%;
    color: #FFF;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.doacao_texto h1 {
    text-align: center;
    font-size: 2.65vw;
    font-family: "Bree Serif", serif;
}

.doacao_texto p {
    font-size: 1.4vw;
    font-family: "Georgia", serif;
    text-align: center;
    text-justify: inter-word;
}

.doacao_texto span {
    font-family: "Georgia", serif;
    font-weight: bold;
    text-decoration: underline;
}

.doacao_botao {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao_bloco {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 0;
    font-size: 1.1vw;
    font-family: "Bree Serif", serif;
    color: #FFF;
    text-decoration: none;
    border: solid 1px #FFF;
    border-style: groove;
    border-radius: 15px;
    box-shadow: none;
    scale: 1;
    background-color: #1B2797;
    transition: scale 0.5s;
}

.botao_bloco img {
    height: 1.2vw;
    /** loucura mas funciona **/
}

.botao_bloco:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    scale: 1.1;
}










#adocao {
    width: 100%;
    padding: 10vh 0;
}

.topoadocao {
    width: 100%;
    height: 15.2vh;
    margin-bottom: -2px;
    background-image: url(/imagens/topoAdocao.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
}

.baixoadocao {
    width: 100%;
    height: 15.2vh;
    margin-top: -2px;
    background-image: url(/imagens/baixoAdocao.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.adocao {
    width: 100%;
    display: flex;
    align-items: center;
    background-color: #151f71;
}

.adocao_imagem {
    width: 20%;
    height: 100%;
    display: flex;
    align-items: center;
}

.adocao_imagem img {
    max-width: max-content;
    max-height: max-content;
    height: auto;
    width: 100%;
}

.adocao_texto {
    width: 60%;
    height: 100%;
    color: #FFF;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.adocao_texto h1 {
    text-align: center;
    font-size: 2.65vw;
    font-family: "Bree Serif", serif;
}

.adocao_texto p {
    font-size: 1.4vw;
    font-family: "Georgia", serif;
    text-align: center;
    text-justify: inter-word;
}

.adocao_texto span {
    font-family: "Georgia", serif;
    font-weight: bold;
    text-decoration: underline;
}

.adocao_botao {
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.botao_bloco:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    scale: 1.1;
}







.contato_bloco {
    width: 100%;
}

#doacao {
    width: 100%;
    padding-top: 10vh;
}

.topoContato {
    width: 100%;
    height: 15.2vh;
    margin-bottom: -2px;
    background-image: url(/imagens/topoContato.png);
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-position: bottom;
}

.contato {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #151f71;
}

.contato_texto {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    color: #FFF;
}

.contato_texto h1 {
    font-size: 2.65vw;
    font-family: "Bree Serif", serif;
}

.contato_email_telefone {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.email_telefone {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.email_telefone p {
    font-size: 1.5vw;
    font-family: "Bree Serif", serif;
}

.instagram {
    font-size: 1.5vw;
    font-family: "Bree Serif", serif;
    text-decoration: none;
    color: #FFF;
    display: flex;
    align-items: center;
    filter: drop-shadow(2px 2px 4px #000000);
    transition: filter 1s, scale 1s;
}

.instagram img {
    height: 1.5vw;
    padding: 0 10px;
}

.instagram:hover {
    filter: drop-shadow(10px 10px 3px #00000066);
    scale: 1.1;
}

.parcerias {
    width: 100%;
    padding: 30px 5vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;
    font-size: 1.5vw;
    color: #FFF;
    font-family: "Bree Serif", serif;
    text-shadow: 2px 2px 4px #000000;
}

.cards {
    padding: 20px 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card_parceria {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1B2797;
    border-radius: 20px;
    width: 260px;
    border: solid 1px #FFF;
    margin: 20px;
    padding: 10px;
    font-family: "Bree Serif", serif;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.imagem_background {
    width: 40%;
    background: linear-gradient(45deg, #405de6, #FFD600, #833ab4, #c13584, #405de6, #fd1d1d);
    padding: 2px;
    margin: 2px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.imagem_background img {
    width: 100%;
    border-radius: 50%;
}

.instagram_parceria {
    font-size: 1vw;
    font-family: "Bree Serif", serif;
    text-decoration: none;
    color: #FFF;
    display: flex;
    align-items: center;
    filter: drop-shadow(2px 2px 4px #000000);
    transition: scale 1s;
    padding: 5px 0;
}

.instagram_parceria:hover {
    scale: 1.1;
}

.instagram_parceria img {
    height: 1vw;
    padding-right: 5px;
}

.contato_imagem {
    width: 100%;
    overflow: hidden;
    margin-bottom: -5px;
    display: flex;
    justify-content: center;
    background-color: #151f71;
}

.contato_imagem img {
    width: 100%;
}

/**fim do estilo da main**/



























@media screen and (max-width: 1375px) {}

@media screen and (max-width: 480px) {

    body {
        background-image: url(/imagens/mobileBG.png);
        background-attachment: fixed;
        background-repeat: no-repeat;
        background-size: cover;
        overflow: visible;
    }

    header {
        padding: 10px;
    }

    .linkLogo {
        height: 50%;
    }

    .nav a {
        padding: 5px;
        font-size: 4vw;
        font-family: "Bree Serif", serif;
    }

    .nav a img {
        padding-right: 2px;
        height: 4vw;
    }

    .whats {
        bottom: env(safe-area-inset-bottom);
        margin-bottom: 10px;
        right: 10px;
        scale: 0.8;
    }

    .video_bloco {
        flex-direction: column;
    }

    .video {
        width: 80%;
        height: 25%;
    }

    .texto_video {
        width: 80%;
        height: 25%;
    }

    #doacao {
        padding: 0;
    }

    .doacao {
        flex-direction: column;
    }

    .doacao_imagem {
        display: none;
    }

    .doacao_texto {
        width: 100%;
        padding: 0;
    }

    .doacao_texto h1 {
        font-size: 7.8vw;
        padding: 5px;
    }

    .doacao_texto p {
        padding: 30px 10px;
        font-size: 4vw;
    }

    .doacao_botao {
        width: 70%;
    }

    .botao_bloco {
        font-size: 4vw;
    }

    .botao_bloco img {
        height: 4vw;
    }

    .adocao {
        flex-direction: column;
        padding: 10px 0;
    }

    .adocao_texto {
        width: 100%;
        padding: 10px 0;
    }

    .adocao_texto h1 {
        font-size: 8vw;
    }

    .adocao_texto p {
        padding: 30px 10px;
        font-size: 4vw;
    }

    .adocao_botao {
        width: 70%;
    }

    .adocao_imagem {
        display: none;
    }

    .contato_texto {
        padding: 0 5px;
    }

    .contato_texto h1 {
        font-size: 8vw;
        text-align: center;
    }

    .contato_email_telefone {
        width: 90%;
    }

    .email_telefone {
        padding:10px 5px;
        flex-direction: column;
        align-items: center;
    }

    .email_telefone p {
        font-size: 4vw;
    }

    .instagram {
        font-size: 4vw;
    }

    .instagram img {
        height: 4vw;
    }

    .parcerias {
        font-size: 4vw;
    }

    .instagram_parceria {
        font-size: 3vw;
    }

    .instagram_parceria img {
        height: 3vw;
    }

    .contato_imagem img {
        width: 170%;
    }
}