*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}














/**mobile**/
@media screen and (max-width: 600px) {

    /**inicio do estilo da header**/
    header{
        z-index: 1;
        position: sticky;
        top: 0;
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: column;
    }
    .headerTop{
        width: 100%;
        height: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: linear-gradient(#1B2797 0%, #151f71 100%);
    }
    .navIcon{
        width: fit-content;
        height: 35px;
        border: 0px;
    }
    #menuIcon{
        height: 80%;
        filter: drop-shadow(1px 1px 3px #F50C14);
    }
    #menuIcon:hover{
        opacity: 90%;
    }
    .linkLogo{
        width: fit-content;
        height: 80px;
    }
    #logoIcon{
        height: 100%;
        filter: drop-shadow(1px 1px 3px #F50C14);
    }
    #logoIcon:hover{
        opacity: 90%;
    }
    .userButton{
        width: fit-content;
        height: 50px;
        border: 0px;
    }
    .userButton:hover{
        opacity: 90%;
    }
    #userIcon{
        height: 90%;
        filter: drop-shadow(1px 1px 3px #F50C14);
    }
    #arrowIcon{
        height: 25%;
        filter: drop-shadow(1px 1px 3px #F50C14);
    }
    .dropdown-toggle::after{
        display: none;
    }
    .dropdown-menu{
        background: linear-gradient(#1B2797 0%, #151f71 100%);
    }
    .dropdown-item{
        color: #FFFFFF;
        font-weight: 600;
    }
    /**fim do estilo da header**/

    /**inicio do estilo da nav**/
    #navigation{
        position: sticky;
        top: 100px;
        width: 100%;
    }
    .navegacao{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        background: linear-gradient(#151f71 0%, #1B2797 100%);
        color: #FFFFFF;
        padding-bottom: 10px;
    }
    .trocasButton, .adocaoButton, .contatoButton{
        width: 70%;
        color: #FFFFFF;
        font-weight: 700;
    }
    .trocasButton:hover, .adocaoButton:hover, .contatoButton:hover{
        background-color: #131b5b;
    }
    .trocasButton{
        border-bottom: 0;
        border-radius: 10px 10px 0 0;
    }
    .adocaoButton{
        border-radius: 0 0 0 0;
        border-bottom: 0;
        border-top: 0;
    }
    .contatoButton{
        border-top: 0;
        border-radius: 0 0 10px 10px;
    }
    #adocao{
        width: 70%;
        text-align: center;
        line-height: 30px;
    }
    .adocaoObj{
        font-weight: 450;
    }
    .adocaoObj img{
        width: 5%;
    }
    /**fim do estilo da nav**/

    /**início do estilo da main**/
    main{
        width: 100%;
        height: 5000px;
    }
    
    section{
        width: 100%;
        height: 70px;
        background-color: bisque;
        margin-bottom: 50px;
    }
    /**fim do estilo da main**/
    
}