* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100%;
  height: 130px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px 20px 30px;
  z-index: 1;
  background: linear-gradient(#1B2797 0%, #151f71 100%);
}

.linkLogo {
  width: fit-content;
  height: 100px;
  display: flex;
  align-items: top;
}

#logoIcon {
  height: 90%;
  filter: drop-shadow(1px 1px 3px #F50C14);
  transition: opacity 0.3s;
}

#logoIcon:hover {
  opacity: 80%;
}

.nav {
  z-index: 1;
  width: fit-content;
  position: fixed;
  top: 30px;
  right: 20px;
  display: flex;
  align-items: center;
  padding: 5px;
  background-color: #151f71;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
}

.nav a {
  color: #FFF;
  text-decoration: none;
  padding: 10px 15px;
  font-size: 1.1vw;
  display: flex;
  align-items: center;
  transition: opacity 0.3s;
}

.nav a:hover {
  opacity: 80%;
}

.nav a img {
  padding-right: 8px;
  height: 1.5vw;
}

.whats {
  position: fixed;
  display: flex;
  bottom: 25px;
  right: 20px;
  border-radius: 32px;
}

.adocao_texto {
  width: 100%;
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  background-color: #151f71;
  box-shadow: 0 2px 30px #000;
}

.adocao_texto h1 {
  color: #FFF;
  font-size: 5vw;
  font-family: "Bree Serif", serif;
}

.adocao_texto p {
  padding: 30px 0;
  color: #FFF;
  font-size: 1.6vw;
  font-family: "Bree Serif", serif;
}

.adocao_texto span {
  font-style: italic;
  font-family: "Bree Serif", serif;
}

.adocao_whats {
  width: 20%;
  background-color: #2AA81A;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 20px;
  color: #FFF;
  font-size: 1.6vw;
  font-family: "Bree Serif", serif;
  text-decoration: none;
  transition: opacity 0.6s;
}

.adocao_whats:hover {
  opacity: 70%;
}

.adocao_whats img {
  height: 3.5vw;
}

.paragrafo_cards {
  width: 45%;
  margin: 20px 0;
  padding: 10px;
  border-radius: 10px;
  color: #FFF;
  font-size: 2vw;
  font-family: "Bree Serif", serif;
  text-align: center;
  background-color: #F50C14;
}

.desktop {
  display: block;
}

.mobile {
  display: none;
}

#cards_bloco {
  width: 100%;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 420px;
  perspective: 1000px;
  margin: 10px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.flip-card:hover .flip-card-inner,
.flip-card.active {
  transform: rotateY(-180deg);
}

.flip-card-front,
.flip-card-back {
  border-radius: 15px;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;

  display: flex;
  justify-content: center;
  align-items: center;
}

.flip-card-front {
  padding: 5px;
  background-color: #151f71;
  color: black;
}

.flip-card-front img {
  height: 100%;
  border-radius: 15px;
}

.flip-card-back {
  background-color: #151f71;
  color: white;
  transform: rotateY(-180deg);
}

.flip-card-back p {
  font-size: 30px;
  font-family: "Bree Serif", serif;
  line-height: 90px;
}













@media screen and (max-width: 1375px) {}

@media screen and (max-width: 480px) {

  .linkLogo {
    height: 50%;
  }

  .nav a {
    padding: 5px;
    font-size: 4vw;
    font-family: "Bree Serif", serif;
  }

  .nav a img {
    padding-right: 2px;
    height: 4vw;
  }

  .whats {
    bottom: env(safe-area-inset-bottom);
    margin-bottom: 10px;
    right: 10px;
    scale: 0.8;
    z-index: 2;
  }

  .adocao_texto {
    padding: 10px;
  }

  .adocao_texto h1 {
    font-size: 12vw;
  }

  .adocao_texto p {
    padding: 15px;
    font-size: 5vw;
  }

  .adocao_whats {
    width: 50%;
    font-size: 5vw;
  }

  .adocao_whats img {
    height: 10.8vw;
  }

  .paragrafo_cards {
    width: 70%;
    font-size: 4vw;
  }

  .paragrafo_cards img {
    height: 4vw;
  }

  .desktop {
    display: none;
  }

  .mobile {
    display: block;
  }
}